{% extends "base.html" %}
{% block title %} Admin {% endblock %}
{% block content %}
<div class="container">
    <h1>quizes</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% for error in form.title.error %}
                <span>
                    {{ error }}
                </span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}
            {% for error in form.description.error %}
                <span>
                    {{ error }}
                </span>
            {% endfor %}
        </div>
        <div>
            {{ form.question.label }}<br>
            {{ form.question(size=32) }}
            {% for error in form.question.error %}
                <span>
                    {{ error }}
                </span>
            {% endfor %}
        </div>

        <div>
            <p>{{ form.option1.label }} {{ form.option1(size=32) }}</p>
            <p>{{ form.option2.label }} {{ form.option2(size=32) }}</p>
            <p>{{ form.option3.label }} {{ form.option3(size=32) }}</p>
        </div>
        {{ form.correct_answer.label }} {{ form.correct_answer }}
        <div>
            {{ form.duration.label }} <br>
            {{ form.duration()}}
            {% for error in form.duration.error %}
            <span>
                {{ error }}
            </span>
            {% endfor %}
        </div>
        {{ form.add(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}