<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles/index.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block link %}{% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
      <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="{{ url_for('views.index') }}">
              <i class="fa-solid fa-puzzle-piece"></i> QuizQuest
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  {% if current_user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.quizes') }}">
                        <i class="fa-solid fa-list"></i> Categories</a>
                    </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('views.logout') }}">
                          <i class="fa fa-sign-out" aria-hidden="true"></i>  Signout
                      </a>
                  </li>
                  {% if current_user.is_admin %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('admin.index') }}">
                          Admin
                      </a>
                  </li>
                  {% endif %}
                  {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('views.signup') }}">Get Started</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      <main>
        {% block content %}
        {% endblock %}
      </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>