{% extends "base.html" %}
{% block title %} categories {% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="row row-gap-3">
        {% for category in categories %}
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body ">
                    <h3 class="card-title text-uppercase">{{ category.title }}</h3>
                    <p class="mb-3">{{ category.description }}</p>
                    <a href="{{ url_for('views.quizzes', category_id=category.id) }}" class="cta-button">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Question navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not categories.has_prev %}disabled{% endif %}">
                    <a class="page-link" 
                       href="{{ url_for('views.categories', page=categories.prev_num) }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                
                {% for page_num in categories.iter_pages() %}
                    {% if page_num %}
                        <li class="page-item {% if page_num == categories.page %}active{% endif %}">
                            <a class="page-link" 
                               href="{{ url_for('views.categories', page=page_num) }}">
                                {{ page_num }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
                {% endfor %}
                
                <li class="page-item {% if not categories.has_next %}disabled{% endif %}">
                    <a class="page-link" 
                       href="{{ url_for('views.categories', page=categories.next_num) }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
